{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Bienvenue !{% endblock %}

{% block body %}

    <h2 class="my-3">Nos produits</h2>

    <div class="row">
        {% for product in products %}
            <div class="col-3">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <img src="{{ asset_upload(product.thumbnail) }}" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <h4>{{ product.price|format_price }}</h4>
                        <a href="{{ path('product_category', {'slug':product.category.slug}) }}" class="badge bg-primary">{{ product.category.name }}</a>
                        <p class="card-text">{{ product.description|slice(0,150) }}</p>
                        <a href="{{ path('product_show', {'slug': product.slug}) }}" class="btn btn-primary">Voir ce produit</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}